.header{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100vh;
    position: relative;
    z-index:4;
    padding-top: 50px;
}

.container-center{
    width: 28rem;
    display: flex;
    justify-content: center;
}

.video {
    margin-top: 340px;
    outline: none;
    width: 19.5rem;
    position: absolute;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    animation: fadeIn 1s ease-out 1s forwards;
}

@keyframes fadeIn {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }


video:hover, video:focus {
    outline: none; 
}


video:not(:hover):not(:focus) {
    pointer-events: none; 
}

.dev{
    position: absolute;
    z-index: 6;
    margin-top: 300px;
    width: 23rem;
    opacity: 0;
    animation: fadeIn 0.5s ease-out 0.5s forwards;
}

.avatar{
    position: absolute;
    z-index: 7;
    width: 15rem;
    margin-top: -300px;
    animation: bounce 2s ease forwards;
    animation-delay: 1s;
}
@keyframes bounce{
    0%{transform: scale(1,1) translateY(0);}
    15%{transform: scale(1,1) translateY(315px);}
    20%{transform: scale(1.1,0.9) translateY(420px);}
    25%{transform: scale(1,1) translateY(352.5px);}
    40%{transform: scale(1,1) translateY(150px);}
    55%{transform: scale(1,1) translateY(352.5px);}
    60%{transform: scale(1.1,0.9) translateY(420px);}
    80%{transform: scale(1,1) translateY(280px);}
    90%{transform: scale(1.05,0.95) translateY(380px);}
    100%{transform: scale(1,1) translateY(350px);}
}

@media (max-width:720px){
    .header{
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
    .avatar{
        margin-top: -350px !important;
        width: 12rem !important;
    }
    @keyframes bounce{
        0%{transform: scale(1,1) translateY(0);}
        15%{transform: scale(1,1) translateY(365px);}
        20%{transform: scale(1.1,0.9) translateY(470px);}
        25%{transform: scale(1,1) translateY(402.5px);}
        40%{transform: scale(1,1) translateY(200px);}
        55%{transform: scale(1,1) translateY(402.5px);}
        60%{transform: scale(1.1,0.9) translateY(470px);}
        80%{transform: scale(1,1) translateY(330px);}
        90%{transform: scale(1.05,0.95) translateY(430px);}
        100%{transform: scale(1,1) translateY(400px);}
    }
    .dev{
        width: 20rem !important;
        margin-top: 240px !important;
    }
    
    video{
        width: 18rem !important;
        margin-top: 275px !important;
    }
}

@media(min-width:721px) and (max-width:1000px){
    
}